@media only screen and (max-width: 1000px){
		.header_bottom {
		background-color: #ffffff;
	}
				.header_bottom,
		nav.mobile_menu{
			background-color: #ffffff !important;
		}
			}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
	
	
	
	
	
	
	
	
	
	
	
	
	
}
@media only screen and (max-width: 600px) {
			h1, h1 a {
			font-size: 48px; 			line-height: 52px; 		    		}
	
			h2, h2 a {
			font-size: 38px; 			line-height: 48px; 		    		}
	
	
	
	
	
	
	
	
	
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
		
	}